/* Imports */
@import 'tailwindcss';

/* Variables */
:root {
    --accent: #002FA7dd;
    --text: #000000dd;
    --background: #ffffff;
}

/* Fonts */
@font-face {
    font-family: Favorit;
    src: url('/fonts/ABCFavoritEdu-Regular.woff2');
}

@font-face {
    font-family: Favorit Mono;
    src: url('/fonts/ABCFavoritMonoEdu-Regular.woff2');
}

/* Tailwind */
@theme {
  --font-sans: 'Favorit', 'system-ui', 'sans-serif';
  --font-mono: 'Favorit Mono', 'monospaced';
}

/* Base */
body {
    padding-top: 44px;
    padding-bottom: 44px
}

@layer base {
    *,
    *::before,
    *::after {

        box-sizing: border-box;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        color: var(--text);
        background: var(--background);
        font-size: 14pt;
    }

    a:not(.bubble) {
        color: var(--accent);
        text-decoration: none;
    }
}

.bubble {
    padding: 0 6px 0 6px;
}

/* effects */
a:hover:not(.no-wiggle) {
    animation: tilt-shaking 300ms infinite;
}

/* ty https://unused-css.com/blog/css-shake-animation/ */
@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}