---
import Layout from '../layouts/Layout.astro';
import { Temporal } from '@js-temporal/polyfill';

var age = Math.floor(
    (Temporal.Now.plainDateISO().year - 2009) 
    + 
    (0.1 * (Temporal.Now.plainDateISO().month - 2))
);
---

<Layout>
    <p class="text-mono whitespace-pre-line">
⠀╱|、
(˚ˎ。7
|、˜〵
じしˍ,)ノ
    </p>
    <p class="whitespace-pre-line">meow! my name is scot, and i'm {age}.
        what i like to do is take something from one medium to another.
        my favorite example is *of course* when i created a physical vinyl 
        for charli xcx's unreleased "XCX World" project, only using the
        files i could publicly find avalible online.        
    </p>
</Layout>