---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const projects = await getCollection('projects');
---

<Layout>
	<ul>
		{
			projects.map((project) => (
				<li>
					<a href={`/project/${project.id}/`}>
						{project.data.title}
					</a>
				</li>
			))
		}
	</ul>
</Layout>
