---
import '../styles/global.css'
---

<!-- Meta -->
<title>SCOT.wtf</title>
<meta name="theme-color" content="#ffffff">
<meta content="#002FA7" data-react-helmet="true" name="theme-color" />
<meta name="title" content="SCOT.WTF" />
<meta name="description" content="the works of SCOT." />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://scot.wtf/" />
<meta property="og:title" content="SCOT.WTF" />
<meta property="og:description" content="he works of SCOT."/>
<meta property="og:image" content="/assets/cat.webp" />

<!-- Data -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />
<link rel="sitemap" href="/sitemap-index.xml"/>
<link rel="canonical" href="https://scot.wtf" />

<!-- Fuck AI <3 -->
<meta name="robots" content="noai">
<meta name="robots" content="noimageai">

<!-- Preloads -->
<link rel="preload" href="/fonts/ABCFavoritEdu-Regular.woff2" as="font" as="font" type="font/woff" crossorigin="anonymous" />
<link rel="preload" href="/fonts/ABCFavoritMonoEdu-Regular.woff2" as="font" as="font" type="font/woff" crossorigin="anonymous" />