---
import at from '../components/Nav/at.astro'
---

<nav class="nav fixed top-0 left-0 w-full p-2 flex gap-1 z-10">
    <a href="/about">/about</a>
    <at long="/photography" short="/photo" href="/placeholders" />
    <!--<a id="photography" href="/placeholder">/photography</a> -->
    <a href="https://blog.scot.wtf">/blog</a>
    <div class="grow"></div>
    <a id="socials" class="bubble bg-lime-100 text-black rounded-full" href="#">@</a>
    <a id="downloadables" class="bubble bg-blue-100 text-(--accent) rounded-full"
    href="#">downloadables</a>
</nav>