---
interface Props {
    long: string,
    short?: string,
    shortest?: string,
    href?: string
}

const { long, short = long, shortest, href = "/placeholder" } = Astro.props;
---

<a class="at" href={href}>
    <span class="at-long">{long}</span>
    <span class="at-short">{short}</span>
    <span class="at-shortest">{shortest}</span>
</a>

<style>
    .at-long {
        display: none;
    }

    .at-short {
        display: inline;
    }

    .at-shortest {
        display: none;
    }

    @media screen and (min-width: 480px) {
        .at-long {
            display: inline;
        }
        .at-short {
            display: none;
        }

        .at-shortest {
            display: none;
        }
    }

    @media screen and (max-width: 380px) {
        .at-long {
            display: none;
        }
        .at-short {
            display: none;
        }

        .at-shortest {
            display: inline;
        }
    }
</style>
